.home-nav {
  zoom: 0.8;
}
.home-nav p {
  font-size: 24px;
  border-radius: 0px;
}
.home-nav a {
  text-decoration: none;
}
.home-nav-link img {
  width: 48px;
  height: 48px;
  object-fit: scale-down;
  margin-left: 1rem;
  margin-right: 1rem;
}
.home-nav-link p {
  margin-top: 5px;
}
.grow img {
  width: 100%;
  object-fit: scale-down;
}
.grow-text-header {
  font-size: 48px;
  font-weight: 600;
  padding: 1rem 1rem 0.2rem 1rem;
}
.grow-text-body {
  font-size: 24px;
  padding: 0.2rem 1rem 1rem 1rem;
  color: #666;
}
