.plate {
  margin: auto;
  width: 95%;
  border-bottom: 1px solid #ddd;
  display: flex;
  padding-bottom: 8px;
  margin-bottom: 1.2rem;
}
.plate div {
  margin-left: 1rem;
}
.plate p {
  font-size: 32px;
  font-weight: 400;
}
.plate span {
  font-size: 20px;
}
@media screen and (max-width: 500px) {
  .plate img {
    width: 35%;
    object-fit: scale-down;
  }
  .plate p {
    font-size: 20px;
    font-weight: 500;
  }
  .plate span {
    font-size: 12px;
  }
}
