.terms-category li {
  margin: 0.5rem;
  padding: 0.5em;
  margin-left: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
}
.terms-category li:hover {
  background: #f0f0f0;
  border-radius: 7px;
}
.terms-body div {
  height: 500px;
  margin-left: 0.8rem;
}
