.card-view {
  width: 20rem;
  min-width: 20rem;
  margin: 0px 0px 1rem 1rem;
}
.card-view:hover {
  box-shadow: 2px 2px 4px 2px gray;
}
@media screen and (max-width: 500px) {
  .card-view {
    width: 98%;
    margin: auto;
    margin-left: -3px;
    margin-bottom: 1rem;
  }
}
