.drawer {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.drawer-top {
  height: 110vh;
  overflow-y: scroll;
}
.drawer-bottom {
  height: 110vh;
  overflow-y: scroll;
  background: #f0f0f0;
}
@media screen and (max-width: 500px) {
  .drawer-bottom {
    display: none;
  }
}
