.footer {
  background: #f0f0f0;
}
.footer li {
  font-size: 1.1rem;
  margin: 0.3rem;
  margin-left: 2rem;
}
.footer h3 {
  color: #505050;
  margin-bottom: 15px;
}
.copyright {
  padding-top: 5px;
  background: #ddd;
  text-align: center;
}
.copyright span {
  color: #777;
}
