/* default config */
* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
button:focus {
  outline: none;
}
button:hover {
  outline: none;
}
input:focus {
  outline: none;
}
input:hover {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
::-webkit-scrollbar {
  width: 0px;
}
/* end default config */

/* auth modal */
.modal-footer {
  display: block;
}
.modal-footer-link {
  width: 100%;
}
/* end auth modal */
