.quick-link {
  background: #fff;
  padding: 1px 6px 1px 6px;
  margin: 2px 5px 2px 5px;
  border: 1px solid #999;
  border-radius: 15px;
  text-decoration: none;
  color: #222;
}
.quick-link:hover {
  text-decoration: none;
  color: #222;
  background: #f0f0f0;
}
.quick-access {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}
